/* ------------------------------------ *\
   HERO SECTION
\* ------------------------------------ */

.palau-hero {
  display: flex;
  position: relative;
  z-index: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 100vh;
  padding: 0 20px 20px;
  background-image: url("../images/hero-img.jpg?as=webp");
  background-repeat: no-repeat;
  background-position: calc(50% - 50px) 50%; // To center the image on desktops //
  background-size: 110%; // To make sure the off-centering doesn't leave a blank space on the right side //
  color: #fff;

  @media (max-width: $breakpoint-mobile) {
    background-position: calc(50% - 25px) 50%; // To center the hero image on smaller devices //
    background-size: cover;
  }
}

.palau-hero::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));

  @media (max-width: $breakpoint-mobile) {
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.8)
    ); // To make the text more visible on small devices //
  }
}

.palau-hero__title {
  order: 2;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: $font-size-extra-large;
  line-height: 1;

  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 115px;
  }
}

.palau-hero__title-span {
  @media (max-width: $breakpoint-mobile) {
    font-size: 35px;
  }
}

.palau-hero__title-span:first-child {
  @media (max-width: $breakpoint-mobile) {
    display: block;
  }
}

.palau-hero__text {
  order: 1;
  margin-bottom: 0;
  font-size: 27px;
  line-height: 1.2;

  @media (max-width: $breakpoint-mobile) {
    font-size: 22px;
  }
}

/* ------------------------------------ *\
   SECTIONS
\* ------------------------------------ */

.history-section,
.architecture-section,
.music-section {
  margin: 100px 15% 60px 20%;
  line-height: 2;

  @media (max-width: $breakpoint-mobile) {
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    line-height: 1.5;
  }
}

.history-section {
  @media (max-width: $breakpoint-mobile) {
    margin-top: 100px;
  }
}

@mixin section-title {
  font-size: $font-size-large;
  text-transform: uppercase;
}

.history-section__title,
.architecture-section__title,
.music-section__title {
  @include section-title;
}

/* ------------------------------------ *\
   PHOTO SECTIONS
\* ------------------------------------ */

.photo-section__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ------------------------------------ *\
   MUSIC SECTION
\* ------------------------------------ */

.premieres-list {
  list-style-type: square;
}

.music-section__video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.music-section__video--for-media-query {
  width: 100%;
  max-width: 560px;
  height: 315px;

  @media (max-width: $breakpoint-mobile) {
    height: calc((9 / 16) * 100vw);
  }
}
