* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-secondary;
  background-color: $color-bg;
}

/*------------------------------------*\
  HERO SECTION
\*------------------------------------*/

.palau-container {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100vh;

  @media (max-width: $breakpoint-mobile) {
    grid-template-rows: auto 1fr;
    grid-template-columns: 100%;
  }
}

.palau-hero {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 100vh;
  padding: 0 20px 20px 20px;
  color: #fff;
  background-image: url("../images/hero-img.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.palau-hero::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
}

.palau-hero__title {
  order: 2;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: $font-size-extra-large;
  line-height: 1;
}

.palau-hero__title-span {
  @media (max-width: $breakpoint-mobile) {
    font-size: 35px;
  }
}

.palau-hero__title-span:first-child {
  @media (max-width: $breakpoint-mobile) {
    display: block;
  }
}

.palau-hero__text {
  order: 1;
  margin-bottom: 0;
  font-size: 27px;
  line-height: 1.2;

  @media (max-width: $breakpoint-mobile) {
    font-size: 22px;
  }
}

/*------------------------------------*\
  NAV + 
\*------------------------------------*/

.palau-header {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-color: $color-bg;

  @media (max-width: $breakpoint-mobile) {
    height: auto;
    margin-top: 0;
  }
}

.main-nav {
  position: fixed;
  // padding-left: 0;
  top: 50px;
  left: 0px;
  z-index: 2;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  list-style: none;
  background-color: $color-bg;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  @media (max-width: $breakpoint-mobile) {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px 0;
    padding-bottom: 0;
    margin-top: 0;
    border-radius: 0;
  }
}

.main-nav__item {
  margin-bottom: 20px;
}

%transitions {
  transition: color 0.3s ease;
}

.main-nav__link,
.copyrights__links {
  position: relative;
  font-weight: 700;
  color: $color-secondary;
  text-decoration: none;
  text-transform: uppercase;
  @extend %transitions;
}

.main-nav__link::after,
.copyrights__links::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: $color-primary;
  transition: transform 0.3s ease;
  transform: scaleX(0);
}

.main-nav__link:hover,
.copyrights__links:hover {
  color: $color-primary;
}

.main-nav__link:hover::after,
.copyrights__links:hover::after {
  transform: scaleX(1);
}

/*------------------------------------*\
  SECTIONS
\*------------------------------------*/

.history-section,
.architecture-section,
.music-section {
  margin: 100px 15% 60px 20%;
  line-height: 2;

  @media (max-width: $breakpoint-mobile) {
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    line-height: 1.5;
  }
}

.history-section {
  @media (max-width: $breakpoint-mobile) {
    margin-top: 100px;
  }
}

@mixin section-title {
  font-size: $font-size-large;
  text-transform: uppercase;
}

.history-section__title,
.architecture-section__title,
.music-section__title {
  @include section-title;
}

/*------------------------------------*\
  PHOTO SECTIONS
\*------------------------------------*/

.photo-section {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  width: 100%;

  @media (max-width: $breakpoint-mobile) {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
}

.photo-section--horizontal {
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 100px;

  @media (max-width: $breakpoint-mobile) {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }
}

.photo-section__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*------------------------------------*\
  MAP SECTION
\*------------------------------------*/

.map-container {
  z-index: 0;
  width: 100vw;
  height: 60vh;

  @media (max-width: $breakpoint-mobile) {
    height: 30vh;
  }
}

/*------------------------------------*\
  MUSIC SECTION
\*------------------------------------*/

.premieres-list {
  list-style-type: square;
}

.music-section__video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.music-section__video--for-media-query {
  width: 100%;
  max-width: 560px;
  height: 315px;

  @media (max-width: $breakpoint-mobile) {
    height: calc((9 / 16) * 100vw);
  }
}

/*------------------------------------*\
  FOOTER
\*------------------------------------*/

.palau-footer {
  padding-bottom: 25px;
  margin-right: 40px;
  margin-left: 40px;
  text-align: center;
}

.author__text {
  margin-bottom: 40px;
  font-size: 14px;

  @media (max-width: $breakpoint-mobile) {
    font-size: 16px;
  }
}

.author__text--lang {
  font-style: italic;
}

.copyrights__text {
  font-size: 14px;

  @media (max-width: $breakpoint-mobile) {
    font-size: 16px;
  }
}
