<footer class="palau-footer">
    <div class="author">
        <p class="author__text">
            &copy; Made by Pierre-Antoine Tremblay for the class
            <span class="author__text--lang" lang="es"
                >"Herramientas HTML y CSS 2"</span
            >
            of the
            <span class="author__text--lang" lang="ca"
                >"Universitat Oberta de Catalunya"</span
            >, <time datetime="2023">2023</time>.
        </p>
    </div>
    <div class="copyrights">
        <p class="copyrights__text">
            All texts are free of copyrights. The pictures come from various
            sources such as
            <a
                class="copyrights__links copyrights__links--hover"
                href="https://www.pexels.com/fr-fr/"
                target="_blank"
                >Pexels</a
            >,
            <a
                class="copyrights__links copyrights__links--hover"
                href="https://unsplash.com/fr"
                target="_blank"
                >Unsplash</a
            >,
            <a
                class="copyrights__links copyrights__links--hover"
                href="https://www.wallpaperflare.com"
                target="_blank"
                >WallPaper Flare</a
            >, and
            <a
                class="copyrights__links copyrights__links--hover"
                href="https://www.wikipedia.org"
                target="_blank"
                >Wikipedia</a
            >. All can be reproduced freely here, and their attribution, if
            necessary, is indicated here. Three pictures come from the
            <a
                class="copyrights__links copyrights__links--hover"
                href="https://en.wikipedia.org/wiki/Palau_de_la_Música_Catalana"
                target="_blank"
                >English-language Wikipedia page of the Palau de la Música
                Catalana</a
            >. They are all licensed under the Creative Commons
            Attribution-Share Alike 4.0 International license. The second
            picture on the page - counting from left to right, top to bottom -
            is by
            <a
                class="copyrights__links copyrights__links--hover"
                href="https://commons.wikimedia.org/wiki/File:Mosaic_at_palau_de_la_música_catalana.jpg"
                target="_blank"
                >"Elena.laps"</a
            >, the fourth is by
            <a
                class="copyrights__links copyrights__links--hover"
                href="https://commons.wikimedia.org/wiki/File:Modernisme.jpg"
                target="_blank"
                >Jaume Meneses</a
            >, while the penultimate is by
            <a
                class="copyrights__links copyrights__links--hover"
                href="https://commons.wikimedia.org/wiki/File:Palau_de_la_Música_Catalana-Palace_of_Catalan_Music_(Image_2).jpg"
                target="_blank"
                >"Tudoi61"</a
            >.
        </p>
    </div>
</footer>
