/* ------------------------------------ *\
   HERO SECTION LAYOUT
\* ------------------------------------ */

.palau-container {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100vh;

  @media (max-width: $breakpoint-mobile) {
    grid-template-rows: auto 1fr;
    grid-template-columns: 100%;
  }
}

/* ------------------------------------ *\
   PHOTO SECTIONS LAYOUT
\* ------------------------------------ */

.photo-section {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  width: 100%;

  @media (max-width: $breakpoint-mobile) {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
}

.photo-section--horizontal {
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 100px;

  @media (max-width: $breakpoint-mobile) {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }
}

/* ------------------------------------ *\
   MAP SECTION LAYOUT
\* ------------------------------------ */

.map-container {
  z-index: 0;
  width: 100vw;
  height: 60vh;

  @media (max-width: $breakpoint-mobile) {
    height: 30vh;
  }
}
